<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="jumbotron">
        <h1>
          <%= @your_output %>
        </h1>
        <h2>
          <%= @first_then_last%>
        </h2>
        <h3>
          <%=@last_then_first%>
        </h3>

      </div>

    </div>
  </div>
</div>
